In [7]:
import numpy as np
import pandas as pd

In [8]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False


def convertToNumber(strVal):
    lowerStrVal = strVal.lower()
    print("original value", lowerStrVal)
    if lowerStrVal.endswith("k"):
        return int(float(strVal[0:len(strVal)-1]) * 1000)
    elif lowerStrVal.endswith("/month"):
        return int(float(strVal[0:len(strVal)-6]) * 12)
    elif lowerStrVal.endswith("/year"):
        return int(strVal[0:len(strVal)-5])
    elif isfloat(lowerStrVal):
        return int(float(lowerStrVal))
    else:
        return 0

def standardizeString(val):
    strVal = str(val)
    return strVal.title()

In [9]:
print(standardizeString(3.926))
print(standardizeString("925.3y"))
print(standardizeString("sdfdfs dsSFs"))
print(standardizeString("ABC dsfs dfd"))
print(standardizeString("bcA A"))

3.926
925.3Y
Sdfdfs Dssfs
Abc Dsfs Dfd
Bca A

In [10]:
salaryInfo = pd.read_csv(
    './salary_infomation.csv', encoding="ISO-8859-1").head(6)

print(salaryInfo.to_string())

for index, row in salaryInfo.iterrows():
    salaryInfo.at[index, 'Company'] = standardizeString(row['Company'])
    # row['Campany'] = standardizeString(row['Campany'])
    salaryInfo.at[index, 'Job'] = standardizeString(row['Job'])
    salaryInfo.at[index, 'Area'] = standardizeString(row['Area'])
    # print(row['education'])
    # print(row)
    salaryInfo.at[index, 'Education'] = standardizeString(row['Education'])

print(salaryInfo.to_string())

    Company        Offer Time                           Job                Area    Base  Equity Bonus Sign-on Full Time/Intern Title/Level Education  New Grad Working Experience Return
0    Oracle  2021 4th quarter             Software Engineer  Great Seattle Area    160k    300k     0     40k        full time    IC & IC3        MS     False              2.5 y    NaN
1     Chewy  2021 4th quarter             Software Engineer  Great Seattle Area    154k    181k   15%     15k             full  IC& SDE II        MS     False                 3y    NaN
2     Adobe  2021 4th quarter                  Data Science            Bay Area    160k  187500   15%     16k             full   IC &DS II        MS     False               1.3y    NaN
3      Wish  2021 4th quarter             Software Engineer  Great Seattle Area    236K    750k     0     70k             full     IC & L4        MS     False                 4y    NaN
4  FaceBook  2021 4th quarter  Machine Learning Engineering  Great Seattle Area    168k    330k   10%     75k             full      IC& E4       PHD      True                 0y    NaN
5    Oracle  2021 4th quarter             Software Engineer            Bay Area  163.5k    420k     0     48k             full    IC & IC3        MS     False                 2y    NaN
    Company        Offer Time                           Job                Area    Base  Equity Bonus Sign-on Full Time/Intern Title/Level Education  New Grad Working Experience Return
0    Oracle  2021 4th quarter             Software Engineer  Great Seattle Area    160k    300k     0     40k        full time    IC & IC3        Ms     False              2.5 y    NaN
1     Chewy  2021 4th quarter             Software Engineer  Great Seattle Area    154k    181k   15%     15k             full  IC& SDE II        Ms     False                 3y    NaN
2     Adobe  2021 4th quarter                  Data Science            Bay Area    160k  187500   15%     16k             full   IC &DS II        Ms     False               1.3y    NaN
3      Wish  2021 4th quarter             Software Engineer  Great Seattle Area    236K    750k     0     70k             full     IC & L4        Ms     False                 4y    NaN
4  Facebook  2021 4th quarter  Machine Learning Engineering  Great Seattle Area    168k    330k   10%     75k             full      IC& E4       Phd      True                 0y    NaN
5    Oracle  2021 4th quarter             Software Engineer            Bay Area  163.5k    420k     0     48k             full    IC & IC3        Ms     False                 2y    NaN