In [2]:
import numpy as np
import pandas as pd

In [3]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False


def convertToNumber(strVal):
    lowerStrVal = strVal.lower()
    #print("original value", lowerStrVal)
    if lowerStrVal.endswith("k"):
        return int(float(strVal[0:len(strVal)-1]) * 1000)
    elif lowerStrVal.endswith("/month"):
        return int(float(strVal[0:len(strVal)-6]) * 12)
    elif lowerStrVal.endswith("/year"):
        return int(strVal[0:len(strVal)-5])
    elif isfloat(lowerStrVal):
        return int(float(lowerStrVal))
    else:
        return 0

def standardizeString(val):
    strVal = str(val)
    return strVal.title()

In [4]:
print(standardizeString(3.926))
print(standardizeString("925.3y"))
print(standardizeString("sdfdfs dsSFs"))
print(standardizeString("ABC dsfs dfd"))
print(standardizeString("bcA A"))

3.926
925.3Y
Sdfdfs Dssfs
Abc Dsfs Dfd
Bca A

In [ ]:
# read csv file from github 
csv_data_path = "https://raw.githubusercontent.com/dorothyjx/damg-6105-Final-Project/main/salary_infomation.csv"
salary = pd.read_csv(csv_data_path)

salary

In [36]:
salaryInfo = salary.head(6)

#print(salaryInfo.to_string())

for index, row in salaryInfo.iterrows():
    salaryInfo.at[index, 'Company'] = standardizeString(row['Company'])
    # row['Campany'] = standardizeString(row['Campany'])
    salaryInfo.at[index, 'Job'] = standardizeString(row['Job'])
    salaryInfo.at[index, 'Area'] = standardizeString(row['Area'])
    # print(row['education'])
    # print(row)
    salaryInfo.at[index, 'Education'] = standardizeString(row['Education'])

#print(salaryInfo.to_string())
salaryInfo

,Company,Offer Time,Job,Area,Base,Equity,Bonus,Sign-on,Full Time/Intern,Title/Level,Education,New Grad,Working Experience,Return
0,Oracle,2021 4th quarter,Software Engineer,Great Seattle Area,160k,300k,0,40k,full time,IC & IC3,Ms,False,2.5 y,NaN
1,Chewy,2021 4th quarter,Software Engineer,Great Seattle Area,154k,181k,15%,15k,full,IC& SDE II,Ms,False,3y,NaN
2,Adobe,2021 4th quarter,Data Science,Bay Area,160k,187500,15%,16k,full,IC &DS II,Ms,False,1.3y,NaN
3,Wish,2021 4th quarter,Software Engineer,Great Seattle Area,236K,750k,0,70k,full,IC & L4,Ms,False,4y,NaN
4,Facebook,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,168k,330k,10%,75k,full,IC& E4,Phd,True,0y,NaN
5,Oracle,2021 4th quarter,Software Engineer,Bay Area,163.5k,420k,0,48k,full,IC & IC3,Ms,False,2y,NaN

In [ ]:
# Currently we are handling the first 100
# Need to handle the base endswith '/week'

a = salary.head(100)
a

In [ ]:
# Base function works on the first 100 row. 

def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False
    
def b(row):
    base = row["Base"]
    lowerbase = base.lower()
    #print("original value", lowerStrVal)
    if lowerbase.endswith("k"):
        return int(float(base[0:len(base)-1]) * 1000)
    elif lowerbase.endswith("/month"):
        return int(float(base[0:len(base)-6]) * 12)
    elif lowerbase.endswith("/year"):
        return int(base[0:len(base)-5])
    elif isfloat(lowerbase):
        return int(float(lowerbase))
    else:
        return 0

a["Base"] = a.apply(b, axis=1)
a

In [105]:
# Bonus function works well on first 100 row

def f(row):
    bonus = row["Bonus"]
    if isfloat(bonus):
        return 0
    if bonus == "0":
        bonus = 0
    elif bonus.endswith('k'):
        kb = bonus.split("k")
        #print(kb)
        bonus = int(float(kb[0]) * 1000)
    elif bonus.endswith("%"):
        base = int(row["Base"])
        if len(bonus) > 2:
            b = int(bonus[: 2])
        else:
            b = int(bonus[0])
        bonus = base * b // 100
    else:
        bonus = 0
    
    return bonus

a["Bonus"] = a.apply(f, axis=1)
a

<ipython-input-105-880a1932b4d6>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["Bonus"] = a.apply(f, axis=1)

,Company,Offer Time,Job,Area,Base,Equity,Bonus,Sign-on,Full Time/Intern,Title/Level,Education,New Grad,Working Experience,Return
0,Oracle,2021 4th quarter,Software Engineer,Great Seattle Area,160000,300k,0,40k,full time,IC & IC3,MS,False,2.5 y,NaN
1,Chewy,2021 4th quarter,Software Engineer,Great Seattle Area,154000,181k,23100,15k,full,IC& SDE II,MS,False,3y,NaN
2,Adobe,2021 4th quarter,Data Science,Bay Area,160000,187500,24000,16k,full,IC &DS II,MS,False,1.3y,NaN
3,Wish,2021 4th quarter,Software Engineer,Great Seattle Area,236000,750k,0,70k,full,IC & L4,MS,False,4y,NaN
4,FaceBook,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,168000,330k,16800,75k,full,IC& E4,PHD,True,0y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Facebook,2021 4th quarter,Machine Learning Engineering,Bay Area,168000,400k,16800,75k,full,IC E4,PHD,True,0y,NaN
96,Citi,2021 4th quarter,Software Engineer,Canada,80000,NaN,0,10k,full,IC TA,BS,True,0y,NaN
97,ByteDance,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,250000,780k,62500,75k,full,IC L3-1,PHD,False,3.5y,NaN
98,Tableau,2021 4th quarter,Data Science,Great Seattle Area,120000,80k,0,17k,full,IC L4,MS,False,3y,NaN
99,ByteDance,2021 4th quarter,Software Engineer,Bay Area,225000,400k,56250,80k,full,IC L2-2,MS,False,5y,NaN