In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [121]:
def isfloat(num):
    if num == "nan":
        return False
    try:
        float(num)
        return True
    except ValueError:
        return False


def convertToNumber(strVal):
    lowerStrVal = str(strVal).lower()
#     print("original value", lowerStrVal)
    if lowerStrVal.endswith("/week"):
        return int(float(strVal[0:len(strVal)-5]) * 52 + float(strVal[0:len(strVal)-5]) / 7)
    elif lowerStrVal.endswith("k"):
        return int(float(strVal[0:len(strVal)-1]) * 1000)
    elif lowerStrVal.endswith("/h"):
        return int(float(strVal[0:len(strVal)-2])* 8 * 22 * 12)
    elif lowerStrVal.endswith("/month"):
        return int(float(strVal[0:len(strVal)-6]) * 12)
    elif lowerStrVal.endswith("/year"):
        return int(strVal[0:len(strVal)-5])
    elif isfloat(lowerStrVal):
        return int(float(lowerStrVal))
    else:
        return 0

def standardizeString(val):
    strVal = str(val)
    return strVal.title()

def capitalString(val):
    strVal = str(val)
    return strVal.upper()

def convertCadToUsd(cadVal):
    usdVal = int(cadVal * 0.78)
    return usdVal

In [39]:
#print(standardizeString(3.926))
#print(standardizeString("925.3y"))
#print(standardizeString("sdfdfs dsSFs"))
#print(standardizeString("ABC dsfs dfd"))
#print(standardizeString("bcA A"))

In [114]:
# read csv file from github 
csv_data_path = "./salary_infomation.csv"
salary = pd.read_csv(csv_data_path)

salary

,Company,Offer Time,Job,Area,Base,Equity,Bonus,Sign-on,Full Time/Intern,Title/Level,Education,New Grad,Working Experience,Return
0,Oracle,2021 4th quarter,Software Engineer,Great Seattle Area,160k,300k,0,40k,full time,IC & IC3,MS,False,2.5 y,NaN
1,Chewy,2021 4th quarter,Software Engineer,Great Seattle Area,154k,181k,15%,15k,full,IC& SDE II,MS,False,3y,NaN
2,Adobe,2021 4th quarter,Data Science,Bay Area,160k,187500,15%,16k,full,IC &DS II,MS,False,1.3y,NaN
3,Wish,2021 4th quarter,Software Engineer,Great Seattle Area,236K,750k,0,70k,full,IC & L4,MS,False,4y,NaN
4,FaceBook,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,168k,330k,10%,75k,full,IC& E4,PHD,True,0y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Waymo,2021 4th quarter,Machine Learning Eng,Bay Area,170k,275k,25.5k,50k,full,L4,PHD,True,0y,Return Offer
309,google,2021 4th quarter,Software Engineer,Bay Area,155k,140k,15%,0,full,L4,PHD,True,1y,Return Offer
310,Workday,2021 4th quarter,Software Engineer,Canada,73.3k,60k,10%,12.5k,full,associate,BS,True,1y,Return Offer
311,Amazon,2021 4th quarter,Machine Learning Eng,Great Seattle Area,155k,365k,0,36.5k,full,L5,PHD,True,0y,Return Offer
312,AutoDesk,2021 4th quarter,Software Engineer,Great Boston Area,125k,60k,8%,19k,full,SE1,MS,True,1y,Return Offer

In [122]:
salaryInfo = salary.head(100)

for index, row in salaryInfo.iterrows():
    #print(row)
    salaryInfo.at[index, 'Company'] = standardizeString(row['Company'])
    # row['Campany'] = standardizeString(row['Campany'])
    salaryInfo.at[index, 'Job'] = standardizeString(row['Job'])
    salaryInfo.at[index, 'Area'] = standardizeString(row['Area'])
    salaryInfo.at[index, 'Education'] = capitalString(row['Education'])

    baseVal = convertToNumber(row['Base'])
    equityVal = convertToNumber(row['Equity'])
    signOnVal = convertToNumber(row['Sign-on'])

    if row["Area"] == "Canada":
        baseVal = convertCadToUsd(baseVal)
        equityVal = convertCadToUsd(equityVal)
        signOnVal = convertCadToUsd(signOnVal)

    salaryInfo.at[index, 'Base'] = baseVal
    salaryInfo.at[index, 'Equity'] = equityVal
    salaryInfo.at[index, 'Sign-on'] = signOnVal

#print(salaryInfo.to_string())
salaryInfo

,Company,Offer Time,Job,Area,Base,Equity,Bonus,Sign-on,Full Time/Intern,Title/Level,Education,New Grad,Working Experience,Return
0,Oracle,2021 4th quarter,Software Engineer,Great Seattle Area,160000,300000,0,40000,full time,IC & IC3,MS,False,2.5 y,NaN
1,Chewy,2021 4th quarter,Software Engineer,Great Seattle Area,154000,181000,15%,15000,full,IC& SDE II,MS,False,3y,NaN
2,Adobe,2021 4th quarter,Data Science,Bay Area,160000,187500,15%,16000,full,IC &DS II,MS,False,1.3y,NaN
3,Wish,2021 4th quarter,Software Engineer,Great Seattle Area,236000,750000,0,70000,full,IC & L4,MS,False,4y,NaN
4,Facebook,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,168000,330000,10%,75000,full,IC& E4,PHD,True,0y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Facebook,2021 4th quarter,Machine Learning Engineering,Bay Area,168000,400000,10%,75000,full,IC E4,PHD,True,0y,NaN
96,Citi,2021 4th quarter,Software Engineer,Canada,48672,0,NaN,6084,full,IC TA,BS,True,0y,NaN
97,Bytedance,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,250000,780000,25%,75000,full,IC L3-1,PHD,False,3.5y,NaN
98,Tableau,2021 4th quarter,Data Science,Great Seattle Area,120000,80000,0,17000,full,IC L4,MS,False,3y,NaN
99,Bytedance,2021 4th quarter,Software Engineer,Bay Area,225000,400000,25%,80000,full,IC L2-2,MS,False,5y,NaN

In [119]:
# Bonus function works well on first 150 row and tail 120 row

def f(row):
    bonus = row["Bonus"]

    if isfloat(bonus):
        return 0
    if bonus == "0":
        bonus = 0
    elif bonus.endswith('k'):
        kb = bonus.split("k")
        #print(kb)
        bonus = int(float(kb[0]) * 1000)
    elif bonus.endswith("%"):
        base = int(row["Base"])
        if len(bonus) > 2:
            pb = bonus.split("-")
            #print(pb)
            b = int(pb[0][:2])
        else:
            b = int(bonus[0])
        bonus = base * b // 100
    else:
        bonus = 0
    
    return bonus

salaryInfo["Bonus"] = salaryInfo.apply(f, axis=1)
salaryInfo

<ipython-input-119-2cb3f2d044e4>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salaryInfo["Bonus"] = salaryInfo.apply(f, axis=1)

,Company,Offer Time,Job,Area,Base,Equity,Bonus,Sign-on,Full Time/Intern,Title/Level,Education,New Grad,Working Experience,Return
0,Oracle,2021 4th quarter,Software Engineer,Great Seattle Area,160000,300000,0,40000,full time,IC & IC3,MS,False,2.5 y,NaN
1,Chewy,2021 4th quarter,Software Engineer,Great Seattle Area,154000,181000,23100,15000,full,IC& SDE II,MS,False,3y,NaN
2,Adobe,2021 4th quarter,Data Science,Bay Area,160000,187500,24000,16000,full,IC &DS II,MS,False,1.3y,NaN
3,Wish,2021 4th quarter,Software Engineer,Great Seattle Area,236000,750000,0,70000,full,IC & L4,MS,False,4y,NaN
4,Facebook,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,168000,330000,16800,75000,full,IC& E4,PHD,True,0y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Facebook,2021 4th quarter,Machine Learning Engineering,Bay Area,168000,400000,16800,75000,full,IC E4,PHD,True,0y,NaN
96,Citi,2021 4th quarter,Software Engineer,Canada,62400,0,0,7800,full,IC TA,BS,True,0y,NaN
97,Bytedance,2021 4th quarter,Machine Learning Engineering,Great Seattle Area,250000,780000,62500,75000,full,IC L3-1,PHD,False,3.5y,NaN
98,Tableau,2021 4th quarter,Data Science,Great Seattle Area,120000,80000,0,17000,full,IC L4,MS,False,3y,NaN
99,Bytedance,2021 4th quarter,Software Engineer,Bay Area,225000,400000,56250,80000,full,IC L2-2,MS,False,5y,NaN

In [99]:
salary.shape

(313, 14)

In [101]:
salary.columns

Index(['Company', 'Offer Time', 'Job', 'Area', 'Base', 'Equity', 'Bonus',
       'Sign-on', 'Full Time/Intern', 'Title/Level', 'Education', 'New Grad',
       'Working Experience', 'Return'],
      dtype='object')

In [87]:
# How many companies total
print(salary['Company'].nunique())
salary['Company'].unique()

114

array(['Oracle', 'Chewy', 'Adobe', 'Wish', 'Facebook', 'Google', 'Indeed',
       'Amazon', 'Snapchat', 'Goldman Sachs', 'Uber', 'Bytedance',
       'Intuit', 'Twitter', 'Doordash', 'Flatiron Health', 'Quora',
       'Apple', 'Root Insurance', 'Bloomberg', 'Coinbase', 'Microsoft',
       'Godaddy', 'Flexport', 'Rivian', 'Rippling', 'Airbnb', 'Okta',
       'Square', 'Hpe', 'Linkedin', 'Salesforce', 'Wayfair',
       'F5 Networks', 'Jp Morgan', "Lowe'S", 'Chime', 'Coursera', 'Carta',
       'Ebay', 'Nuro', 'Walmart Labs', 'Draftkings', 'Citi', 'Tableau',
       'Toast', 'Ibm', 'Intel', 'Weride', 'Mongodb', 'Dropbox', 'Tencent',
       'Pinterest', 'Sony', 'Confluent', 'Nefixs',
       'Millennium Management', 'Qualcomm', 'Aurora', 'T-Mobile',
       'Two Sigma', 'Sumo Logic', 'Visa', 'Waymo', 'Zoox', 'AMD', 'Yelp',
       'pure storage', 'capital1', 'SnapChat', 'Paypal', 'Coupang',
       'Discord', 'Imc', 'Tusimple', 'Blizzard Entertainment', 'Expedia',
       'Affirm', 'Databricks', 'Reddit', 'Cloudkitchens', 'Roku', 'Lyft',
       'Robinhood', 'Fast', 'Better', 'Rubrik', 'Mircosoft',
       'Alto Pharmacy', 'Nerdwallet', 'Highspot', 'Roblox', 'Twitch',
       'Nvidia', 'American Express', 'Workday', 'Applovin', 'Qualtrics',
       'Vmware', 'Capital1', 'Sofi', 'Tesla', 'Offerup', 'Zoom',
       'Elastic', 'Calicolabs', 'Cisco', 'Mathworks', 'Schlumberger',
       'Cloudera', 'Morgan Stanley', 'Hudson River Trading', 'C3.Ai',
       'Autodesk'], dtype=object)

In [97]:
# mean of Base, Bonus, Equity, Sign-on
#print(salary['Base'].mean())
#print(salary['Bonus'].mean())
#print(salary['Equity'].mean())
#print(salary['Sign-On'].mean())

In [102]:
# How many Jobs in total

salary['Job'].unique()

#Machine Learning Engineering and Machine Learning Eng are same.

array(['Software Engineer', 'Data Science',
       'Machine Learning Engineering', 'Front End Engineer',
       'Hardware Engineer', 'Engineering Manager', 'Machine Learning Eng'],
      dtype=object)

In [123]:
# How many Education types? 
salary['Education'].unique()

array(['MS', 'PHD', 'BS'], dtype=object)